body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

p{
    color: #8f8f8f;
}

#title{
    background-color: #ff4c68;
    color: #fff;
   
    
}


.container-fluied{
    padding: 3% 15% 7%;
   
}





/* Nacvigation part */

.navbar{
    padding:0 0 4.5rem !important;
}


.navbar-brand{
   
    font-size: 2.5rem !important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.ml-auto {
    margin-left: auto!important;
}

a{
    color: white !important;
}
.nav-items{
    padding: 0 18px;
}
.nav-link{

    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}

/* Download Buttons */
.download-buttons{
    margin:5% 3% 5% 0;
}

/* title image */

#iphone{
    transform: rotate(25deg);
    width: 20%;
    height: 70%;
    position: absolute;
    bottom: 50px;
    right:25%
    
    
}
/* Features */



#features{
    padding:7% 15%;  
    background-color: #fff;
    position: relative;
  
    
    
}
.futers-heading{
    font-size: 1.5rem;
}
.futures-items{
   
    padding: 5%;
}
.features-icon{
    color: #ef8172;
    margin-bottom: 2rem;
  
}
.features-icon:hover{
    color:#ff4c68;
}
.text-futers{
    color:#8f8f8f;
    width: 50%;
    margin: 0 auto;
}

/* testimonials */

#testimonials{
   
  
    background-color:#ef8172 ;
    color: #fff;
}
.testimonial-text{
    font-size: 3.5rem;
    line-height: 1.5;
}

.carousel-item{
    padding: 7% 15%; 

}

.testimonials-image{
    width: 10%;
    border-radius: 100%;
    object-fit: cover;
    margin: 25px;
}

#press{
 
  background-color:#ef8172 ;
  padding-bottom: 3%;
}

.press-logo{
    
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing */
.pricing-header {
    padding: 0 15%;
   
    font-size: 1rem ;

}
.pricing-text{
    font-size: 3rem;
    line-height: 1.5;
}
.pricingbtn{
    width: 100%;
  
  
}
#pricing{
    padding: 100px;
}
.card-header{
    font-size: 1.5rem;
}
.section-heading{
    font-size: 3.5rem;
    line-height: 1.5;
}
.pricing-col{
    padding: 3% 2%;
    text-align: center;
}

/* Call Action */
#cta{
    padding: 7% 15%;
   
   
    background-color: #ff4c68;
}

.cta-h3{
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}


/* footer */

#footer{
    padding: 5% 15%;
   
    background-color:#fff;
}
.footer-icons{
        
        margin: 20px 10px;
}



@media(max-width:1028px){

    .title{
        text-align: center ;
    }
    #iphone{
        position:static;
        transform:rotate(0);
        width: 60%;
        height: 100%;
    }
}
